.search-modal{
    border:1px solid black;
    /* background-color: #5d6063; */
    border-radius: 5px;
    width: 200px;
    height: 40px;
    font-size: 15px;
    padding: 5px
    /* text-align: center; */
}
.search-modal:focus{    
    outline: none
}